p{
    font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
margin-left: 160px;
}
.Randomly{
    margin-left: 160px;
    margin-right: 50px;
}
.Weekly{
    margin-right: 50px;

}
.Daily{

}