<p>
  Select Account type

</p>

<div class="mb-5">
  <button value="specialist" (click)="isSpecialist()" type="button"
    class="btn btn-outline-primary btn-lg specialistPosition" (click)="specialist()"> Specialist
  </button>
  <button value="client" (click)="isClient()" type="button" class="btn btn-outline-primary btn-lg clientPosition"
    (click)="client()"> Client
  </button>
  <button value="specialist" type="button" class=" btn btn-outline-primary btn-lg specialistPosition"
    (click)="specialist()"> Specialist
  </button>
  <button value="client" type="button" class=" btn btn-outline-primary btn-lg clientPosition" (click)="client()"> Client
  </button>
</div>

<router-outlet>

</router-outlet>

<!-- <div class="mt-5">
    <button class="btn btn-outline-primary accountTypeBack" (click)="Back()"> Back </button>
    <button class="btn btn-outline-primary accountTypeNext" (click)="Next()"> next </button>
</div> -->
