p{
    margin-top: 50px;
    margin-left: 120px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
.specialistPosition{
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 10px;
    padding-left:70px ;
    padding-right:35px ;

}
.clientPosition{
    margin-top: 10px;
    padding-left:70px ;
    padding-right:35px ;
}
.accountTypeBack{
    margin-left: 120px;
    margin-right: 50px;
}
