<!-- <app-header class="container-fluid"></app-header>


<section class="container-fluid" >
    <div class="row">
        <div class="col-4">
            <app-sidebar ></app-sidebar>
        </div>
        <div class="col-6 mt-5">
            <login></login>
        </div>
    </div>
</section>


<app-footer class="container-fluid ms-5" ></app-footer> -->
<div></div>
<app-header class="container-fluid"></app-header>
<section class="container-fluid ps-0 ">
    <div class="row">
        <div class="col-4 sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-5  center-login">
            <app-signupPage></app-signupPage>
        </div>

    </div>
</section>
    <!-- <div class="col-4">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-8">
        <div class="d-flex justify-content-end">
            <app-header></app-header>
        </div>
        <div class=" mt-5 d-flex justify-content-center">
            <app-signupPage></app-signupPage>
            
        </div>

        <div class="mt-5">
            <app-footer></app-footer>
        </div>
    </div> -->
