<div class="container">
  <div class="col-md-4">
    <h3>{{ viewDate | date : 'MMMM'}}</h3>
  </div>
  <mwl-calendar-month-view-header [days]=[days]></mwl-calendar-month-view-header>
  <mwl-calendar-month-view [refresh]="refresh" [viewDate]="viewDate" [events]="events" (eventClicked)="print($event)">
  </mwl-calendar-month-view>
  <!-- <mwl-calendar-week-view [viewDate]="viewDate"></mwl-calendar-week-view> -->

  <button class="btn btn-warning" (click)="addEvent()">add new Event</button>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Appointment title </th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <th><input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()"></th>
        <td>
          <p-calendar [(ngModel)]="event.start" (ngModelChange)="refresh.next()"></p-calendar>
        </td>
        <td>
          <p-calendar [(ngModel)]="event.end" (ngModelChange)="refresh.next()"></p-calendar>
        </td>
        <td><button class="btn btn-danger" (click)="deleteEvent(event)">Delete</button></td>
        <td><button class="btn btn-warning" (click)=" EditEvent(event)">Edit</button></td>
      </tr>

    </tbody>
  </table>



</div>
