<!--############################################### NAVIGATIONBAR ###############################################-->
<nav class="navbar navbar-expand-lg  ">
  <div class="container-fluid">

    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active me-5 text-primary" aria-current="page" routerLink="../login">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active me-5 text-primary" aria-current="page" routerLink="../about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-5 text-primary" routerLink="../contactus">Contact us</a>
        </li>
        <li class="nav-item" *ngIf="token != null">
          <a class="nav-link me-5 text-primary" routerLink="." (click)="logOut()">Logout</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Englsih </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Arabic</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
